body {
    background-color: #CCCCCC;
  }

h1 {
    text-align: center;
    font-size: 2vw;
}

h2 {
    text-align: center;
    font-size: 1.5vw;
    line-height: 1.5;   
}

h3 {
    text-align: center;
    font-size: 1.5vh;
    }

h4 {
    text-align: center;
    font-size: 2.5vh;
    }

h5 {
    text-align: center;
    font-size: 1.5vh;
    }
p {
    text-align: center;
    font-size: 2vmin;
}

.input {
    background-color: #EEEEEE;
}

textarea:focus, input:focus{
    outline: none;
}
.inputbar {
    font-family: arial;
    background-color: #white;
    color: black;
    text-align: center;
    font-size: 1.5vw;
    cursor: pointer;
    outline: none;
    width: 100%;

}

.inputbar1 {
    font-family: arial;
    background-color: #white;
    color: black;
    text-align: center;
    font-size: 1.5vw;
    cursor: pointer;
    outline: none;
    width: 20%;

}

.button1 {
    font-family: arial;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 2px 2px;
    cursor: pointer;
    width: 10%;
}

.button2 {
    font-family: arial;
    background-color: rgb(46, 51, 47);
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 2px;
    cursor: pointer;
    width: 13%;
}

.button3 {
    font-family: arial;
    background-color:#4CAF50;
    border: none;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 2px;
    cursor: pointer;
    width: 13%;
}

.button1:hover {
    background-color: rgb(64, 211, 69); /* Green */
}

.button3:hover {
    background-color: rgb(64, 211, 69); /* Green */
}

table{
    table-layout:fixed;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}

input[type="file"] {
    display: none;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 30.0vh;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0.5;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

div {
    margin-right: 20vw;
    margin-left: 20vw;
}

.MathJax nobr>span.math>span{border-left-width:0 !important};
